.AppTopHeader{


    width: auto;
    height: 10vw;
    max-height: 83.75px;
    background: #00313c;
    flex: auto;

    right: 0;
    top: 0;
    left:0;
    z-index: 10;
}

.AppTopHeader .headerImage{
    height: 100%;
    object-fit: contain;
    padding: 0 1rem;
    text-align: center;
    flex: auto;
    padding-left: 135px;
    height: 47.7777777%;
    padding-top: 20px;
}

body, html{
    margin: 0;
    padding: 0;
}

.App{
    margin: 0;
    padding: 0;
}

.Body{
    width: auto;
    min-height: 2000px;
    fill: white;
}

.Footer{
    width: auto;
    height:auto;
}

.Footer .BoxOne{
    width: auto;
    height: 420px;
    background-color: #00313C;
    flex: auto;
    display: flex;
    flex-direction: row;
}

.Footer .BoxTwo
{
    width: auto;
    height: 151px;
    background-color: #FFFFFF;
    flex: auto;
    display: flex;
}

.Footer .BoxThree
{
    width: auto;
    height: 80px;
    background-color: #f1f3f3;
    flex: auto;

}

.Footer .naming
{
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    height: auto;   
    padding-left: 20px;
}

.Footer .listOne
{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-bottom: 20px;
    padding-top: 75px;
    flex: 1;
    flex-wrap: wrap;
}

.Footer .listTwo{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-bottom: 20px;
    padding-top: 75px;
    flex: 1;
}

.Footer .icons{
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding-bottom: 20px;
    padding-top: 75px;
    flex: 1;
    /*icon stuff here*/
}

.Footer .footerImage
{
    height: 40%;
    object-fit: contain;
    padding-left: 120px;
    padding-top: 30px;
}

